  <div class="container">

    <div class="row">
     <div class="col-12 text-center">
      <br>
      <div class="head">
      <h2><strong>Welcome to your personal dashboard, <%= current_user.first_name if current_user %>!</strong></h2>
      <br>
      <h5>Your Thanatos dashboard helps you <strong>plan & organize</strong>. Ensure all your important information is entered in each category on this page so we can securely pass it on to your legacy contact(s), after you go.</h5>
      <br>
      <h5>Your listed wishes & sensitive information will only be accessible through an <strong>encrypted key</strong> given to your <strong>legacy contact(s).</strong></h5>
      </div>
    </div>
  </div>
  <br>
  <section class="rectangle">
    <h4>Dashboard completion: <strong><%= @progress %>%</strong></h4>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%= "#{@progress}%" %>; background-color:#2C89B1"></div>
    </div>
  </section>
    <br>
  <section>
    <div class="side-search">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Looking to do anything in particular ?" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
    </div>
    <% end %>
</section>

  <section>
    <div class="cards">
      <div class="card-dashboard card-centric" data-balloon-length="large" data-balloon="Your legacy contact will inherit all of your dashboard data after you go." data-balloon-pos="up">
        <%= link_to "Legacy contact(s)", delegates_path %>
        <% if current_user.delegates_complete? %>
        <div class="checked">
          <%= image_tag "check.png"%>
        </div>
        <% end %>
      </div>

      <div class="card-dashboard card-centric"data-balloon-length="large" data-balloon="Your funeral basic choices: burrial vs. cremation,.." data-balloon-pos="up">
        <%= link_to "Basics", basics_preferences_path %>
         <% if current_user.basics_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard" data-balloon-length="large" data-balloon="Your detailed wishes for your funeral ceremony" data-balloon-pos="up">
        <%= link_to "Ceremony Preferences", funeral_preferences_path %>
         <% if current_user.ceremony_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard" data-balloon-length="large" data-balloon="Browse for local businesses to prepare your funeral : funeral homes, florists,.." data-balloon-pos="up">
        <%= link_to "Find Local Businesses", companies_path %>
         <% if current_user.business_selection_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard" data-balloon-length="large" data-balloon="Leave personal messages behind" data-balloon-pos="up">
        <%= link_to "Personal Messages", messages_path %>
         <% if  current_user.messages_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard card-centric" data-balloon-length="large" data-balloon="List your social media  & preferences so your delegate can execute your wishes" data-balloon-pos="up">
        <%= link_to "Social Media", social_platforms_path %>
         <% if current_user.social_media_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard card-centric" data-balloon-length="large" data-balloon="List your banking details so your delegate can close all accounts when you go." data-balloon-pos="up">
        <%= link_to "Banking" %>
         <% if current_user.banking_complete? %>
         <div class="checked">
          <%= image_tag "check.png"%>
        </div>
         <% end %>
      </div>

      <div class="card-dashboard card-centric" data-balloon-length="large" data-balloon="List your insurance policies so your delegate can close them when you go." data-balloon-pos="up">
        <%= link_to "Insurance" %>
        <% if current_user.insurance_complete? %>
        <div class="checked">
          <%= image_tag "check.png"%>
        </div>
        <% end %>
      </div>

      <div class="card-dashboard" data-balloon-length="large" data-balloon="List your subscriptions & memberships so your delegate can cancel them." data-balloon-pos="up">
        <%= link_to "Subscriptions & Membership" %>
      <% if current_user.subscriptions_complete? %>
       <div class="checked">
          <%= image_tag "check.png"%>
        </div>
      <% end %>
      </div>

      <div class="card-dashboard" data-balloon-length="large" data-balloon="Upload important document & leave the contact details of your notary for your delegate" data-balloon-pos="up">
        <%= link_to "My Will" %>
        <% if current_user.my_will_complete? %>
        <div class="checked">
          <%= image_tag "check.png"%>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <br>
  <br>
</div>










