  <div class="container">

    <div class="row">
     <div class="col-12 text-center">
      <br>
      <h1><strong>Welcome to your personal dashboard <%= current_user.first_name if current_user %></strong></h1>
      <br>
      <h4>Your Thanatos dashboard helps you plan & organize : ensure all your important information is entered in each category on this page so we can securely pass it on to your delegate(s), after you go.</h4>
      <br>
      <h4>Your listed wishes & sensitive information will only be accessible through an encrypted key given to your delegate(s).</h4>
    </div>
  </div>
  <br>
  <br>
  <section>
    <!-- dashboard completion % bar -->
    <h4>Dashboard completion: <strong>X%</strong></h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%; background-color:#2C89B1"></div>
    </div>
    <br>
    <br>
  </section>


  <section>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Looking to do anything in particular ?" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
    <% end %>

  </section>


  <section>
    <div class="cards">
      <div class="card-dashboard card-centric" data-balloon="Your delegate will inherit all of your dashboard data & will be able to make sure everything is in order" data-balloon-pos="up">
        <%= link_to "Delegate(s)", delegates_path %>
      </div>
      <!-- change path !! -->
      <div class="card-dashboard card-centric"data-balloon="Funeral type choice" data-balloon-pos="up">
        <%= link_to "Basics", delegates_path %>
      </div>
      <!-- change path !! -->
      <div class="card-dashboard" data-balloon="Enter all your wishes for your funeral ceremony" data-balloon-pos="up">
        <%= link_to "Ceremony Preferences", delegates_path %>
      </div>
      <div class="card-dashboard" data-balloon="Browse for local businesses to prepare your funeral : funeral homes, florists,.." data-balloon-pos="up">
        <%= link_to "Find Local Businesses", companies_path %>
      </div>

      <div class="card-dashboard" data-balloon="Leave personal messages behind" data-balloon-pos="up">
        <%= link_to "Personal Messages", messages_path %>
      </div>
      <div class="card-dashboard card-centric" data-balloon="List your social media  & preferences so your delegate can execute your wishes" data-balloon-pos="up">
        <%= link_to "Social Medias" %>
      </div>
      <div class="card-dashboard card-centric" data-balloon="List your banking details so your delegate can close the accounts when you go." data-balloon-pos="up">
        <%= link_to "Banking" %>
      </div>
      <div class="card-dashboard card-centric" data-balloon="List your insurance policies so your delegate can close them when you go." data-balloon-pos="up">
        <%= link_to "Insurance" %>
      </div>
      <div class="card-dashboard" data-balloon="List your subscriptions & membership so your delegate can cancel them." data-balloon-pos="up">
        <%= link_to "Subscriptions & Membership" %>
      </div>
      <div class="card-dashboard" data-balloon="Upload important document & leave the contact details of your notary for your delegate" data-balloon-pos="up">
        <%= link_to "My Will" %>
      </div>
    </div>
  </section>
  <br>
  <br>
</div>










