<div class="container-custom">
    <div class="row">
      <div class="col-12 text-center">
        <div class="head-social">
          <h1><strong><%= current_user.first_name %>'s Summary</strong></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class=col-lg-12>
        <div class="form-wrapper-social padded-box">
          <div class="form-header-delegate social">
            <h3 class="form-title-delegate">PERSONAL DETAILS</h3>
            <span class="line"></span>
          </div>
          <p>
            <strong>Name: </strong>
            <%= current_user.first_name %>
            <%= current_user.last_name %>
          </p>
          <p>
            <strong>Email: </strong>
            <%= current_user.email %>
          </p>
          <p>
            <strong>Address: </strong>
            <%= current_user.address %>
          </p>
          <p>
            <strong>Religion: </strong>
            <%= current_user.religion %>
          </p>
          <p>
            <strong>Scenario: </strong>
            <%= current_user.scenario %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-wrapper-social padded-box">
          <div class="form-header-delegate social">
            <h3 class="form-title-delegate">DELEGATES</h3>
            <span class="line"></span>
          </div>
          <% @delegates.each do |delegate| %>
            <p>
              <strong>Name: </strong>
              <%= delegate.first_name %>
              <%= delegate.last_name %>
            </p>
            <p>
              <strong>Relationship: </strong>
              <%= delegate.relationship %>
            </p>
            <p>
              <strong>Contact details: </strong>
              <%= delegate.phone_number %> - <%= delegate.email %>
            </p>
          <% end %>
        </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12">
    <div class="form-wrapper-social padded-box">
      <div class="form-header-delegate social">
        <h3 class="form-title-delegate">CEREMONY PREFERENCES</h3>
        <span class="line"></span>
      </div>
      <% @preference.each do |p| %>
        <p>
          <strong>PRE-CEREMONY:</strong>
          <%= p.process %> - <%= p.display %>
        </p>
        <p>
          <strong>CEREMONY SPECIFICATIONS</strong>
        </p>
          <% if p.address && p.address != "" %>
        <p>
          <strong>Address: </strong>
          <%= p.address %>
        </p>
        <% end %>
        <% if p.guest_list && p.guest_list != "" %>
        <p>
          <strong>Guest list: </strong>
          <%= p.guest_list  %>
        </p>
        <% end %>
        <% if p.car && p.car != "" %>
        <p>
          <strong>Car: </strong>
          <%= p.car %>
        </p>
        <% end %>
        <p>
          <% if p.music && p.music != "" %>
          <strong>Music: </strong>
          <%= p.music %> -
          <% end %>
          <% if p.speaker && p.speaker != "" %>
          <strong>Speaker: </strong>
          <%= p.speaker %> -
          <% end %>
          <% if p.reading && p.reading != "" %>
          <strong>Reading: </strong>
          <%= p.reading %>
          <% end %>
        </p>
        <% if p.collection_for_charity && p.collection_for_charity != "" %>
        <p>
          <strong>Charity: </strong>
          <%= p.collection_for_charity %>
        </p>
        <% end %>
        <% if p.dress && p.dress != "" %>
        <p><strong>Dress: </strong>
          <%= p.dress %> -
          <% end %>
          <% if p.hairstyle && p.hairstyle != "" %>
          <strong>Hairstyle: </strong>
          <%= p.hairstyle %>
          <% end %>
          <% if p.make_up && p.make_up != "" %>
          <strong>Make-up: </strong>
          <%= p.make_up %>
          <% end %>
        </p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-wrapper-social padded-box">
        <div class="form-header-delegate social">
          <h3 class="form-title-delegate">BUSINESS PREFERENCES</h3>
          <span class="line"></span>
        </div>
        <% @companies.each do |c| %>
        <p>
          <strong>Name: </strong>
          <%= c.name %>
        </p>
        <p>
          <strong>Business type: </strong>
          <%= c.category %>
        </p>
        <p>
          <strong>Address: </strong>
          <%= c.address %>
        </p>
        <p>
          <strong>Email: </strong>
          <%= c.company_email %> - <strong>Phone number: </strong>
          <%= c.phone %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-wrapper-social padded-box">
        <div class="form-header-delegate social">
          <h3 class="form-title-delegate">MESSAGES</h3>
          <span class="line"></span>
        </div>
        <% @messages.each do |m| %>
        <p>
          <strong>Recipient: </strong>
          <%= m.recipient %>
        </p>
        <p>
          <strong>Subject: </strong>
          <%= m.subject %>
        </p>
        <p>
          <strong>Content: </strong>
          <%= m.content %>
        </p>
        <p>
          <strong>Send date: </strong>
          <%= m.send_date %>
        </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-wrapper-social padded-box">
        <div class="form-header-delegate social">
          <h3 class="form-title-delegate">SOCIAL MEDIA</h3>
          <span class="line"></span>
        </div>
        <% @social_platforms.each do |s| %>
        <p>
          <strong>Channel: </strong>
          <%= s.channel %> - <strong>Username: </strong>
          <%= s.username %>
        </p>
        <p>
          <strong>Choice: </strong>
          <% if s.choice %>
          Cancel Account
          <% else %>
           Memorialize Account
           <% end %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <div class="das-btn">

  <%= link_to "⬅ DASHBOARD", dashboard_path, class: "dashboard-button-summary" %>
  </div>
</div>
</div>


</div>
</div>

