<div class="col-lg-13">
  <div class="form-wrapper-delegate" date-message-id="<%= message.id %>">
    <div class="form-container-delegate">
      <div class="form-header-delegate">
        <h2 class="form-title-delegate">MESSAGE</h2>
        <span class="line"></span>
      </div>
      <span class="line"></span>
      <br>
      <p> <strong> Subject: </strong>
        <%= message.subject %>
        </p>
      <p> <strong> Content: </strong><%= message.content %></p>
      <% if !message.send_date.empty? %>
      <p> <strong> Send date: </strong> <%= message.send_date %></p>
      <% else %>
      <p> <strong> Delay period: </strong> <%= message.delay_period %></p>
      <% end %>
      <%= link_to "X", message_path(message), method: :delete, remote: true, class: "card-delete-button" %>
    </div>
  </div>
</div>
