<div class="navbar navbar-expand-sm navbar-light navbar-thanatos <%= "navbar-fixed" if controller.controller_name == 'pages' %>">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "thanatos-logo.png" %>
  <h1><%= "THANATOS" %></h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </li>
      <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "login-button" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
      <% end %>
    </ul>
  </div>
</div>
