<section class="section-hp">

  <div class="section-item-left">
    <h1>
      Slogan tbd and just <br> some more room for..
    </h1>
    <p>
      Learn about funeral planning options and to-dos <br>
      Connect with the right providers for your needs <br>
      Easily share information with friends and family
    </p>
    <button type="button" class="signup-button get-started-button btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner.png", class: "img-hp-right" %>
  </div>

</section>

<div class="triangle-check-white">
</div>


<section class="section-hp bg-blue">

  <div class="section-item-left-page2">
    <p>If you’re here, you just lost someone you love.  <br><br>
      Or you want to be confident everything is taken care of before you go. <br><br>
      <strong> You’ve come to the right place. <br><br> </strong>
      We can help you through every stage of funeral planning, memorializing and grieving.

    </p>
    <button type="button" class="get-started btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner2.png", class: "img-hp-right" %>
  </div>

</section>

<div class="triangle-check">
</div>


<div class="container">
  <section class="row">
    <div class="col-sm-4 illustration_item">
     <div>
      <%= image_tag "img-plan.png", class: "item-illustration-img" %>
      <h1 class="">PLAN</h1>
      <p class="item-illustration-text">
        Plan the ceremony & <br>
        Find local businesses in your area,<br>
        inform relatives & authorities
      </p>
    </div>
  </div>
  <div class="col-sm-4 illustration_item">
   <div>
    <%= image_tag "img-manage.png", class: "item-illustration-img-vertical" %>
    <h1 class="">MANAGE</h1>
    <p class="item-illustration-text">
      Manage your will, bank accounts,
      insurance, closure procedure,
      social medias, and other forms.
    </p>
  </div>
</div>
<div class="col-sm-4 illustration_item">
 <div>
  <%= image_tag "img-track.png", class: "item-illustration-img" %>
  <h1 class="">TRACK</h1>
  <p class="item-illustration-text">
    Tailored checklists,
    Push reminder option,
    Share tasks with relatives,
    Track your budget
  </p>
</div>
</div>
</section>
</div>

<div class="container">
  <section class="row">
    <div class="col-sm-8 illustration_item">
      <div>
        <p class="item-illustration-text-horizontal-grey">
          Find guidance, inspiration & support in 1 place : <br>
          Thanatos dashboard.
        </p>
        <p class="item-illustration-text-horizontal-blue">
          No strings attached - our service is free.
        </p>
      </div>
    </div>
    <button type="button" class="col-sm-4 signup-button get-started-button btn-margin-top">GET STARTED</button>
  </section>
</div>

<section class="section-hp">

  <div class="section-item-left">
    <h1>
      Slogan tbd and just <br> some more room for..
    </h1>
    <p>
      Learn about funeral planning options and to-dos <br>
      Connect with the right providers for your needs <br>
      Easily share information with friends and family
    </p>
    <button type="button" class="signup-button get-started-button btn-margin-top">GET STARTED</button>
  </div>

  <div>
    <%= image_tag "Thanatos-banner.png", class: "img-hp-right" %>
  </div>

</section>

