
<div class="upper">
  <h2>Basics:</h2>
  <h2>Your wishes for body disposal process & pre-ceremony</h2>
  <br>
  <h4>By filling the simple form below, your delegate(s) will know exactly what your wishes are in the following hours of you passing away.</h4>
</div>

<div class="col-7 alignment">
  <%= simple_form_for @preference, url: (@preference.new_record? ? preferences_path : preference_path(@preference)) do |f| %>
  <div class="form-wrapper">
    <div class="form-container">
      <div class="form-header">
        <h3 class="form-title">PRE-CEREMONY PREFERENCES</h2>
          <span class="line"></span>
        </div>
        <div class="form-body">
          <div class="form-inputs">
            <div class="nameinput">
              <%= f.input :process, collection: ["Burrial", "Cremation", "Cryopreservation", "Give my body to Science", "Organ Donation"] %>
              <%= f.input :display, collection: ["Authorize body display prior ceremony", "Don't authorization body display prior ceremony"] %>
            </div>
            <br>
          </div>
        </div>
      </div>
    <%= f.submit "SAVE", class: "dashboard-button-delegate" %>
    </div>
    <% end %>
    <div>
    <%= link_to "⬅️ DASHBOARD", dashboard_path, class: "dashboard-button-delegate" %>
    </div>
  </div>
  <br>
  <br>

  <div class="upper">
    <h4><strong>Not sure yet ?</strong> Check-out the documentation links to make your choice.</h4>
  </div>
  <br>

  <div class="cards-docu">
    <a href="https://www.adirectcremation.com/pros-cons-traditional-burial-versus-cremation">
    <div class="card-docu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'ground.jpg' %>)">
      Burrial
    </div>
    </a>
    <a href="https://kern.humdrum.net/memorials/pros-and-cons-of-cremation-process">
    <div class="card-docu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'urn.jpg' %>)">
      Cremation
    </div>
    </a>
    <a href="https://www.cryonics.org/about-us/faqs">
    <div class="card-docu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'cryo.jpg' %>)">
      Cryopreservation
    </div>
    </a>
    <a href="https://www.wikihow.com/Donate-Your-Body-to-Science">
    <div class="card-docu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'science.jpg' %>)">
      Give your body to science
    </div>
    </a>
    <a href="https://www.transplantatiestichting.nl/english/10-facts-about-organ-and-tissue-donation">
    <div class="card-docu" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'organ.jpg' %>)">
      Organ donation
    </div>
    </a>
  </div>
  <br>

